
<div class="overflow-y-scroll">
  <div class="container">
    <div>
      <p>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>
    </div>

    <div>
      <p>
        <strong>Description:</strong>
        <%= @post.body %>
      </p>
    </div>

    <div class="border">
      <%= render "comments/form", comment: @comment %>
    </div>

    <div class="constants-list">
      <table>
        <thead>
        <tr>
          <th>Comments</th>
        </tr>
        </thead>

        <tbody>
        <% @comments.each do |comm| %>
          <tr>
            <td><%= comm.commented %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <%= link_to 'Edit', edit_post_path(@post), class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black" %> |
    <%= link_to 'Back', posts_path, class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black" %>
  </div>

</div>